<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sintomas</title>
</head>

<body>
  <div class="content">
    <div class="card">
      <div class="topcard">
        <h2 id="pergunta">Você teve contato com alguem que diagnosticou positivo para covid?</h2>
      </div>
      <div class="mediacard"></div>
      <div class="bottoncard">
        <span class="botontext"></span>
        <div class="actionscard">
          <a class="BUTTON_Sim" mat-button routerLink="/perg2">Sim</a>
          <a routerLink="/perg2" class="BUTTON_Nao">Nao</a>

        </div>
      </div>
    </div>
  </div>
</body>

</html>
