#register {
  width: 80%;
  height: 100%;
  min-height: 100vh;

  margin: auto;
  padding: 1.25rem;

  .register-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-bottom: 1.1rem;

    label,
    span {
      font-size: 1.2rem;

      margin-bottom: 0.375rem;
    }

    input {
      font-size: .8rem;

      width: 100%;
      height: 2.2rem;

      padding: 0.3125rem;
      padding-left: 0.5rem;

      border: 1px solid rgb(150, 150, 150);
      border-radius: 0.625rem;

      outline: none;

      &:focus {
        border: 1px solid rgb(1, 239, 173);
      }
    }

    select {
      font-size: .8rem;

      width: 100%;
      height: 2.2rem;

      padding: 0.3125rem;
      padding-left: 0.5rem;

      border: 1px solid rgb(150, 150, 150);
      border-radius: 0.625rem;

      outline: none;

      &:focus {
        border: 1px solid rgb(1, 239, 173);
      }
    }

    #choose {
      position: relative;

      width: 100%;
      height: 2.8125rem;

      .bubble {
        position: absolute;
        left: 0%;

        width: 50%;
        height: 100%;

        background-color: rgb(1, 239, 173);

        transition: all 300ms ease-in-out;

        z-index: -1;

        &.left {
          left: 0%;

          border-top-left-radius: 0.625rem;
          border-bottom-left-radius: 0.625rem;
        }

        &.right {
          left: calc(50% - 2px);

          border-top-right-radius: 0.625rem;
          border-bottom-right-radius: 0.625rem;
        }
      }

      button {
        color: rgb(3, 139, 235);
        font-size: 1.15rem;
        font-weight: bold;

        width: 50%;
        height: 100%;

        background-color: transparent;

        outline: none;

        &:nth-child(2) {
          margin-right: -1px;

          border-left: 1px solid rgb(150, 150, 150);
          border-top: 1px solid rgb(150, 150, 150);
          border-right: 1px solid transparent;
          border-bottom: 1px solid rgb(150, 150, 150);

          border-top-left-radius: 0.625rem;
          border-bottom-left-radius: 0.625rem;
        }

        &:nth-child(3) {
          margin-left: -1px;

          border-left: 1px solid transparent;
          border-top: 1px solid rgb(150, 150, 150);
          border-right: 1px solid rgb(150, 150, 150);
          border-bottom: 1px solid rgb(150, 150, 150);

          border-top-right-radius: 0.625rem;
          border-bottom-right-radius: 0.625rem;
        }
      }
    }
  }

  #end-register {
    color: rgb(3, 139, 235);
    font-size: 1.15rem;
    font-weight: bold;

    width: 100%;
    height: 2.8125rem;

    margin-top: 1.25rem;

    background-color: rgb(1, 239, 173);

    border: 1px solid transparent;
    border-radius: 3.125rem;

    outline: none;
  }
}

@media (max-width: 576px) {
  #register {
    width: 100%;
  }
}
