h1,
h2 {
  text-align: center;
}
h1 {
  padding-top: 20%;
}
body {
  background-color: #7b99c3;
}
.info1 {
  background-color: black;
  padding-left: 60px;
}
a {
  margin-left: auto;
}
.button1 {
  padding-left: 50px;
}
